// Fonts
$fontBody: 'Kumbh Sans', sans-serif;
$fontSize: 1.125em;

// Colors
$darkCyan: hsl(185, 75%, 39%);
$ddBlue: hsl(229, 23%, 23%);
$grayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);